!!!
%html
  %head
    %title Dropboxapp
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    / devise stuff
    / %p.notice= notice
    / %p.alert= alert
    / end devise stuff
    = yield
